<ion-header>
  <ion-toolbar>
    <ion-title>Intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>1° imagen</ion-card-subtitle>
          <ion-card-title>essa é a primeira imagen</ion-card-title>
        </ion-card-header>
        <img src="assets\imagens\download.jpg">

        <ion-card-content>
          Essa é a primeira imagen com fim de apreendizado 
        </ion-card-content>
      </ion-card>

    </ion-slide>

    <ion-slide>
      <h1>Slide 3</h1>
      <ion-button href="tabs/feed">Anchor</ion-button>
    </ion-slide>
  </ion-slides>

</ion-content>