<ion-header>
  <ion-toolbar>
    <ion-title>Com olho da cobra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-chip>
    <ion-avatar><img
        src="https://yt3.ggpht.com/a/AGF-l7_eNK1JgfJlclR9cGHId59BCdn1udW1f0MNZA=s288-c-k-c0xffffffff-no-rj-mo">
    </ion-avatar>
    <ion-label> {{nome_usuario}}</ion-label>
  </ion-chip>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>10/12/19</ion-card-subtitle>
      <ion-card-title> Uma imagen qualquer</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="assets\imagens\download.jpg">

      Essa é uma imagen qualque usada para o conhecimento!!!

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Click para ver o local</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Card Link Item 1 .activated</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label>
    </ion-item>

    <ion-item class="activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Card Button Item 1 .activated</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Button Item 2</ion-label>
    </ion-item>
  </ion-card>

</ion-content>